.business-advices.py-5
	.container
		h2.title.mb-4 Материалы
		.text
			p Основными задачами деловых советов являются: продвижение российских товаров и услуг, в том числе инновационной и наукоемкой продукции, на зарубежные рынки и привлечение иностранных инвестиций в экономику России; представление и защита экономических интересов российских хозяйствующих субъектов на зарубежных рынках; укрепление позитивного имиджа России, отечественного предпринимательского сообщества за рубежом; изучение и анализ экономической ситуации, складывающейся в соответствующей стране, и подготовка предложений по активизации сотрудничества с зарубежными партнерскими организациями.
			p В настоящее время под эгидой ТПП России действуют 74 деловых совета:
			ul
				li СНГ и постсоветское пространство – 10 ДС,
				li Европа – 16 ДС,Ближний, Средний Восток и Африка – 24 ДС,
				li Азия – 18 ДС,
				li Америка – 6 ДС.
		.business-advices__search
			.business-advices__search-icon
				+icon('search', 'business-advices__search-icon-pic')
			.business-advices__search-text Поиск деловых советов
			.business-advices__search-stroke
				input.business-advices__search-input
			button.btn.btn-primary.business-advices__search-btn Найти
		.business-advices__map
			#yandex-map
		.row.mb-4
			-
				var organizations=
					[
						[
							'Российско - Узбекский деловой совет', 
							'rus-ruds.tpprf.ru', 
							'uzb.png',
							['Положение', 'Председатель', 'Планы', 'Отчеты', 'Руководство', 'Контакты']
						],
						[
							'Российская часть Российско-Казахстанского делового совета', 
							'rus-kaz.tpprf.ru', 
							'kaz.png',
							['Состав', 'Новости', 'Контакты', 'Отчеты', 'Руководство', 'Контакты']
						],
						[
							'Совет по саморегулированию предпринимательской и профессиональной деятельности', 
							'tpprf.ru/ru/interaction/committee/council_sro', 
							'bel.png',
							['Состав комитета', 'Новости', 'Контакты']
						],
						[
							'Союз «Тульская торгово-промышленная палата»', 
							'tula.tpprf.ru', 
							'sov.png',
							['О регионе', 'О палате', 'Услуги', 'Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
						[
							'Российско - Узбекский деловой совет', 
							'rus-ruds.tpprf.ru', 
							'uzb.png',
							['Положение', 'Председатель', 'Планы', 'Отчеты', 'Руководство', 'Контакты']
						],
						[
							'Российская часть Российско-Казахстанского делового совета', 
							'rus-kaz.tpprf.ru', 
							'kaz.png',
							['Состав', 'Новости', 'Контакты', 'Отчеты', 'Руководство', 'Контакты']
						],
						[
							'Совет по саморегулированию предпринимательской и профессиональной деятельности', 
							'tpprf.ru/ru/interaction/committee/council_sro', 
							'',
							['Состав комитета', 'Новости', 'Контакты']
						],
						[
							'Союз «Тульская торгово-промышленная палата»', 
							'tula.tpprf.ru', 
							'sov.png',
							['О регионе', 'О палате', 'Услуги', 'Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
						[
							'Российская часть Российско-Казахстанского делового совета', 
							'rus-kaz.tpprf.ru', 
							'kaz.png',
							['Состав', 'Новости', 'Контакты', 'Отчеты', 'Руководство', 'Контакты']
						],
						[
							'Совет по саморегулированию предпринимательской и профессиональной деятельности', 
							'tpprf.ru/ru/interaction/committee/council_sro', 
							'',
							['Состав комитета', 'Новости', 'Контакты']
						],
						[
							'Союз «Тульская торгово-промышленная палата»', 
							'tula.tpprf.ru', 
							'sov.png',
							['О регионе', 'О палате', 'Услуги', 'Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
						[
							'Комитет по безопасности предпринимательской деятельности', 
							'tpprf.ru/ru/interaction/committee/kombez', 
							'pred.png',
							['Состав комитета', 'Нововсти','Контакты']
						],
					] 
			each organ in organizations
				.col-4.mb-4
					.card.organization-card
						.card-body.organization-card__body
							.organization-card__content
								.organization-card__logo
									if organ[2] != ''
										+image(`organizations/logo/${organ[2]}`,'organization-card__logo-img')
								.organization-card__title=organ[0]
								a.organization-card__link(href="#")=organ[1]
							.organization-card__footer
								.organization-card__tags
									each tag, index in organ[3]
										if index == 0
											a.organization-card__link(href="#")=`${tag}`
										else 
											a.organization-card__link(href="#")=`, ${tag}`
		.text-center.mb-4
			button.btn.btn-outline-blue.text-uppercase.business-advices__btn-show-all
				i.fas.fa-chevron-down.mr-2
				| Еще <span>12</span> советов 
		
		include ./pagination.pug