section.initiatives.py-5.bg-light
	.container
		.row.mb-4
			.col
				h2.title Инициативы
			.col.text-right
				a.btn.btn-outline-blue.text-uppercase.mr-2.d-none.d-sm-inline-block(href="#") Инфографика
				a.btn.btn-outline-blue.text-uppercase(href="#") Подробнее
		.initiatives__text Торгово-промышленная палата Российской Федерации принимает участие в подготовке проектов законов Российской Федерации, постановлений Совета Министров - Правительства Российской Федерации, решений министерств и ведомств Российской Федерации, затрагивающих интересы предпринимателей.
		.slider.initiatives__slider
			button.slider__btn.slider__btn_prev.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			button.slider__btn.slider__btn_next.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			- 
				var initiativesList = [
					[
						'Позиция ТПП РФ по проекту федерального закона «О внесении изменений в статьи 18.9 и 23.1 Кодекса Российской Федерации об административных правонарушениях»',
						'Комитет по безопасности предпринимательской деятельности',
						'ОРВ',
						'Правонарушение',
						'Россия',
					],
					[
						'Проект приказа Росгвардии «Об утверждении требований по хранению оружия и патронов, организации пропускного режима и режима внутри объекта, на складах и в хранилищах оружия ',
						'Комитет по безопасности предпринимательской деятельности',
						'Росгвардия',
						'Оружие',
						'Россия',
					],
					[
						'Проект приказа Росгвардии «Об утверждении требований по хранению оружия и патронов, организации пропускного режима и режима внутри объекта, на складах и в хранилищах оружия ',
						'Комитет по поддержке предпринимательствав сфере добычи, производства, переработки и обра',
						'ОРВ',
						'Правонарушение',
						'Россия',
					],
					[
						'Проект приказа Росгвардии «Об утверждении требований по хранению оружия и патронов, организации пропускного режима и режима внутри объекта, на складах и в хранилищах оружия ',
						'Комитет по поддержке предпринимательствав сфере добычи, производства, переработки и обра',
						'ОРВ',
						'Правонарушение',
						'Россия',
					],
					[
						'Проект приказа Росгвардии «Об утверждении требований по хранению оружия и патронов, организации пропускного режима и режима внутри объекта, на складах и в хранилищах оружия ',
						'Комитет по поддержке предпринимательствав сфере добычи, производства, переработки и обра',
						'ОРВ',
						'Правонарушение',
						'Россия',
					],
					[
						'Проект приказа Росгвардии «Об утверждении требований по хранению оружия и патронов, организации пропускного режима и режима внутри объекта, на складах и в хранилищах оружия ',
						'Комитет по поддержке предпринимательствав сфере добычи, производства, переработки и обра',
						'ОРВ',
						'Правонарушение',
						'Россия',
					],
				]
			.slider__container.row
				each initiativesItem in initiativesList
					.col.py-3
						.initiative.card
							//- a.initiative__link(href="#")
							.initiative__pic
								+image(`initiatives/initiative1.png`, "initiative__img")
							.card-body
								a.initiative__title(href="#")=initiativesItem[0]
								a.initiative__authority(href="#")=initiativesItem[1]
								ul.initiative__tags.tags
									li.tags__item
										a.tags__link(href="#")= initiativesItem[2]
									li.tags__item
										a.tags__link(href="#")= initiativesItem[3]
									li.tags__item
										a.tags__link(href="#")= initiativesItem[4]
		.initiatives__bottom
			.orv
				.orv__logo
					+image('initiatives/orv-logo.png','orv__logo-img')
				.orv__desk Цель «Оценки Регулирующего Воздействия» (ОРВ) – соотнести выгоды от принятия решения с издержками бизнеса, связанными с реализацией такого решения. Формировать регулирующее воздействие помогают Советы, Комитеты и Хартии.
