section.news.py-3.py-lg-5
	.container
		.row
			.col-12.col-lg-7.col-xl-8.mb-5.mb-lg-0
				a.main-news(href="#")
					.main-news__theme-day 
						.ribbon Тема дня
					.main-news__title Законопроект по декриминализации уголовной ответственности для бизнеса снизит риски для ведения предпринимательской деятельности
					.main-news__pic
						+image('news/sf-main-news.jpg', 'main-news__img')
			.col-12.col-lg-5.col-xl-4.d-flex.flex-column
				.news__container-category
					.news__category-list
						ul.news__category-list-container
							each item in ["Новости", "Заседания", "Мнения", "Сми"]
								li.news__category-item
									a.news__category-link(href="#")= item
				ul.news-list
					- 
						var newsList = [
							['4 ноября 2019', 'ТПП РФ представила план работы Делового совета БРИКС в рамках российского председательства в 2020 году'],
							['5 ноября 2019', 'Развитие торгово-экономического сотрудничества со странами БРИКС. Ожидания бизнеса'],
							['7 ноября 2019', 'На пленарном заседании ДС БРИКС обсудили доклады рабочих групп и рекомендации главам государств «пятерки»'],
							['4 ноября 2019', 'ТПП РФ представила план работы Делового совета БРИКС в рамках российского председательства в 2020 году'],
							['5 ноября 2019', 'Развитие торгово-экономического сотрудничества со странами БРИКС. Ожидания бизнеса'],
							['7 ноября 2019', 'На пленарном заседании ДС БРИКС обсудили доклады рабочих групп и рекомендации главам государств «пятерки»'],
							
						];
					each newsItem in newsList	
						li.news-list__item
							a.news-list__item-link(href="#")
								.news-list__item-date=newsItem[0]
								.news-list__item-title=newsItem[1]
				
				a.news__link-all(href="#") Все новости
		- 
			var news = [
				[
					"sf-news1.png", 
					"14.11.2019", 
					"Общество", 
					"Россия встречает саммит БРИКС в 2020 году", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],
				[
					"sf-news2.png", 
					"14.11.2019", 
					"Общество", 
					"Сергей Катырин: объединение БРИКС сегодня является одной из важнейших опор формирующейся многополярной системы мира", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],
				[
					"sf-news3.png", 
					"14.11.2019", 
					"Общество", 
					"ПМЭФ-2019. Сергей Катырин: БРИКС идеальная площадка для объединения усилий по внедрению инноваций и цифровой экономики", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],
				[
					"sf-news1.png", 
					"14.11.2019", 
					"Общество", 
					"Россия встречает саммит БРИКС в 2020 году", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],
				[
					"sf-news2.png", 
					"14.11.2019", 
					"Общество", 
					"Сергей Катырин: объединение БРИКС сегодня является одной из важнейших опор формирующейся многополярной системы мира", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],
				[
					"sf-news3.png", 
					"14.11.2019", 
					"Общество", 
					"ПМЭФ-2019. Сергей Катырин: БРИКС идеальная площадка для объединения усилий по внедрению инноваций и цифровой экономики", 
					"В столице Бразилии в г.Бразилиа завершились мероприятия Делового совета БРИКС в рамках саммита глав стран «пятерки».", 
				],

				
			];
	
		.slider.news__slider
			button.slider__btn.slider__btn_prev.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			button.slider__btn.slider__btn_next.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			.slider__container.row
				each newsItem in news
					.col.py-3
						.new.card
							a.new__link(href="#")
								.new__pic
									+image(`news/${newsItem[0]}`, "new__img")
								.card-body.new__content
									.new__date
										.ribbon= newsItem[1]
									.new__category=newsItem[2]
									h3.new__title=newsItem[3]
									.new__text=newsItem[4]