section.person-detail.py-5
	.container.person-detail__container
		.row
			.col-12.col-lg-3.mb-4
				.person-detail__pic
					+image('persons/kurochkin.jpg', 'person-detail__img')
			.col-12.col-lg-8
				.person-detail__name Дмитрий Курочкин
				.person-detail__post Вице-президент Торгово-промышленной палаты Российской Федерации
				.person-detail__content
					h3.person-detail__title Досье
					p 
						| В Торгово-промышленной палате России отвечает за развитие предпринимательства и конкуренции, координацию деятельности рабочих комитетов и советов, развитие членской базы, оценку регулирующего и фактического воздействия, реализацию промышленной политики и региональных промышленных проектов, энергетической стратегии и развитие ТЭК, АПК, транспортного комплекса и логистики, здравоохранения и медицинской промышленности.
					p 
						| Сопредседатель Российско-итальянского комитета предпринимателей (с российской стороны), член Правления исполнительных директоров Международного делового конгресса (Берлин), Экспертного совета Фонда развития промышленности, Совета Фонда развития интернет-инициатив, Комитета по стратегическому развитию при Наблюдательном совете АО «МСП Банк».
					p 
						| 20-летний опыт работы в банковском секторе в системе Внешэкономбанка и зарубежных банках во Франции и Бельгии. 10-летний опыт преподавания в университете МГИМО МИД РФ и Российско-европейском Колледже при МГИМО (У) МИД РФ.  Длительный опыт работы в странах Западной Европы и Ближнего Востока (Аппарат Советника по экономическим вопросам при Посольстве СССР в Сирии).
					p 
						| Автор более 50 публикаций по вопросам европейской экономической и валютной интеграции. 
					p 
						| Свободно владеет английским и французским языками.
					h3.person-detail__title Награды
					p Благодарность советника по экономическим вопросам при Посольстве СССР в САР за большой личный вклад в развитие и укрепление советско-сирийского экономического сотрудничества (1985);
					p Благодарность Президента ТПП РФ за большой личный вклад в подготовку и проведение X Юбилейного международного инвестиционного форума «Сочи-2011» (2011);
					p Благодарность президента Международного делового конгресса и председателя Правления ОАО «Газпром» за 10-летнюю безупречную работу в Правлении исполнительных директоров МДК (2011);
					p Благодарность губернатора Тульской области за значительный вклад в организацию и проведение Государственного совета Российской Федерации, посвященного вопросам повышения инвестиционной привлекательности российских регионов (2013);
					p Диплом почтения и благодарности XVI-го Московского международного Салона изобретений и инновационных технологий «Архимед-2013» за активное участие в организации и проведении Салона (2013);
					p Благодарность министра промышленности и торговли Российской Федерации за вклад в развитие промышленности и активное участие в работе Экспертного совета ФГАУ «Российский фонд технологического развития» (2015);
					p Благодарность первого заместителя министра промышленности и торговли Российской Федерации и директора Фонда развития промышленности за активное участие и большой личный вклад в работу Экспертного совета Фонда развития промышленности в 2015 году (2015);
					p Благодарность генерального директора Агентства стратегических инициатив и ректора Российской академии народного хозяйства и государственной службы при Президенте Российской Федерации за большой вклад в организацию и проведение образовательной программы по обучению лучшим практикам, выявленным по итогам проведения Национального рейтинга состояния инвестиционного климата в субъектах Российской Федерации (2015).
					
				-var galery1 = [['photo1.jpg', 'Подпись1'],['photo2.jpg', 'Подпись2'],['photo3.jpg', 'Подпись3'],['photo4.jpg', 'Подпись4'],['photo5.jpg', 'Подпись5'],['photo6.jpg', 'Подпись6']];
				-var galery2 = [['photo1.jpg'],['photo2.jpg'],['photo3.jpg'],['photo4.jpg'],['photo5.jpg'],['photo6.jpg']];
				.person-detail__photo.mb-5
					h3.person-detail__title Фотогалерея

					.slider-photos-one-pic
						.slider-photos-one-pic__counter-photo
						.slider-photos-one-pic__container
							button.slider-photos-one-pic__btn.slider-photos-one-pic__btn_prev
								+icon('arrow', 'slider-photos-one-pic__btn-icon')
							button.slider-photos-one-pic__btn.slider-photos-one-pic__btn_next
								+icon('arrow', 'slider-photos-one-pic__btn-icon')
							ul.slider-photos-one-pic__list
								each slide in galery1
									li.slider-photos-one-pic__item
										.slider-photos-one-pic__pic
											+image(`page-news/${slide[0]}`,'slider-photos-one-pic__img')
										.slider-photos-one-pic__subscription #{slide[1]}

					.slider-photos
						ul.slider-photos__list
							each navSlide in galery1
								li.slider-photos__item
									+image(`page-news/${navSlide[0]}`,'slider-photos__img')
				.person-detail__expert-opinions.mb-5
					h3.person-detail__title Экспертные мнения
					-
						var opinions = [
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
										[
											'14.11.2019', 
											'Вице-президент ТПП РФ Дмитрий Курочкин: реализация проекта ОРВ набирает обороты', 
											'Реализация процедуры оценки регулирующего воздействия проектов нормативных правовых актов и экспертизы нормативных правовых актов со стороны ТПП  России набирает обороты', 
											['Законотворчество','Оценка регулирующего воздействия','Система ТПП РФ'] 
										],
									]
					ul.person-detail__expert-opinions-list
						each opinion in opinions
							li.person-detail__expert-opinion
								a.person-detail__expert-opinion-link(href="#")
									.person-detail__expert-opinion-date= opinion[0]
									.person-detail__expert-opinion-title= opinion[1]
									.person-detail__expert-opinion-desk= opinion[2]
								ul.person-detail__expert-opinion-tags
									each opinionTag in opinion[3]
										li.person-detail__expert-opinion-tag
											a.person-detail__expert-opinion-tag-link(href="#") #{opinionTag},
					.person-detail__expert-opinions-pagination
						include ./pagination.pug 
				.person-detail__subject-expert.mb-5
					h3.person-detail__title Эксперт по тематикам
					a.person-detail__subject-expert-link(href="#")
						+icon('tag', 'person-detail__subject-expert-icon')
					ul.tags
						each tagItem in ['Агропромышленный комплекс','Бренды', 'Административные правонарушения', 'Азиатский форум Боао', 'Арктическая зона России', 'Агропромышленный комплекс','Бренды', 'Административные правонарушения', 'Азиатский форум Боао', 'Арктическая зона России']
							li.tags__item 
								a.tags__link(href="#")= tagItem
				.person-detail__contacts
					h3.person-detail__title Контакты
					ul.person-detail__contacts-list
						li.person-detail__contacts-list-item Тел.: 8-495-620-05-10, 8-495-620-01-27
						li.person-detail__contacts-list-item Факс: 8-495-620-02-66
					a.person-detail__contacts-mail(href="#") Связаться по электронной почте