section.team.py-4.py-lg-5
	.container
		.row.mb-4
				.col
					h2.title.team__title Персоны
				.col.text-right
					a.btn.btn-outline-white.text-uppercase(href="#") Подробнее
		- 
			var members = [
				["katirin.jpg", "сергей  катырин", "Председатель Российской части ДС БРИКС", "(495) 620-03-32", "tpprf@tpprf.ru"],
				["belozerov.jpg","олег  белозёров", "генеральный директор ОАО «Российские железные дороги»", "(495) 620-03-32", "tpprf@tpprf.ru"],
				["chemezov.jpg","сергей  чемезов", "Генеральный директор Государственной корпорации «Ростех»", "(495) 620-03-32", "a.i.poddevalin@rostechn.ru"],
			];
	.team__container
		.team__list.container
			.row.team__list-container
				each member in members
					.col-12.col-sm-4
						.member-team.member-team_contacts
							a.member-team__container(href="#")
								.member-team__avatar
									+image(`persons/${member[0]}`, "member-team__avatar-img")
								.member-team__name #{member[1]}
								.member-team__post #{member[2]}
								.member-team__info 
									p #{member[3]}
									p #{member[4]}